* {
    box-sizing: border-box
}

:root {
    --color1: #D89584;
    --color2: #f4f4f4;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

/* COUVERTURE */
div.cover {
    background:url(cover_overlay.png) no-repeat center/100% 100% ,url(cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}

img.cover-profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

div.cover-contact {
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    
}

.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cover-contact p:first-child {
    margin-bottom: 10px;
}

.cover-contact a {
    color: white;
    font-size: 14px;
    
}

div.cover-bouton-contact {
    display: block;
    text-align: center;
    margin-top: 42px;
}

.cover-bouton-contact a {
    background-color: #00000040;
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    font-size: 14px;
}

.cover-bouton-contact a:hover {
    color: white;
    border: 3px solid white;
}

/* SECTION GRISE 1 */

.section {
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.section-grise1 {
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    padding-bottom: 80px;
}

.section-grise1 p {
    color: #656565;
    text-align: center;
    font-size: 22px;
    margin-top: 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

div.separateur {
    position: relative;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 1px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    margin-top: -12px;
    background-color: #979797;
}

div.section-grise2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 100px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

.float-right {
    float: right;
}

div.texte-avec-ligne-verticale {
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.texte-avec-ligne-verticale p{
    margin-top: 0;
}

.col-portfolio {
    width: 47%;
}

.section-grise2 img {
    width: 100%;
}

div.barre-verticale {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

div.frame {
    margin: 20px 40px;
    height: 20%;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
}

.frame-title {
    margin-top: 0;
    padding-top: 15px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 12px;
}
.frame table {
    width: 100%;

}
.frame img {
    height: 100px;
    float: right;
    margin-right: 25px;
    padding-top: 10px;
}

.frame td:first-child {
    width: 42%;
}

.frame td:last-child {
    padding-bottom: 25px;
}




